* {
  margin: 0;
  padding: 0;
}

.container {
  background: #c49331;
  height: 703px;
  text-align: center;
}

.button-next,
.button-perv,
.slider-wrapper,
.dot {
  display: inline-block;
  vertical-align: middle; /* не center ) */
}

/* обрезаем то, что не входит в обертку */
.slider-wrapper {
  width: 1300px;
  overflow: hidden;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 1px rgba(161, 67, 0, 0.2);
}

.slider-line {
  display: flex;
  position: relative; /* чтобы двигать */
  left: 0;
  // transition: all 0.5s easy-out;
  // transition: all 4s ease;
  // transform: scale(1);
}

.button-prev,
.button-next {
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.button-prev,
.button-next {
  border: none;
  background: none;
  transition: 1 ease;
}

.button-prev:active,
.button-next:active,
.dot:active {
  opacity: 0.5;
}

// .dot {
//   width: 20px;
//   height: 20px;
//   background: chocolate;
//   border-radius: 50%;
//   cursor: pointer;
//   margin: 3px;
// }
.dot {
  background-color: #c7d2d6;
  width: 84px;
  height: 12px;
  cursor: pointer;
  margin: 3px;
}

.is-active {
  background: #023e7d;
  cursor: auto;
}

.card {
  h1 {
    position: absolute;
    left: 180px;
    top: 200px;
    color: #fff;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  p {
    position: absolute;
    left: 180px;
    top: 265px;
    color: #fff;
    width: 1111px;
    height: 120px;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
}
.card2 {
  position: relative;
  h1 {
    position: absolute;
    left: 180px;
    top: 200px;
    color: #fff;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  p {
    position: absolute;
    left: 180px;
    top: 265px;
    color: #fff;
    width: 1111px;
    height: 120px;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
}
.card3 {
  position: relative;
  h1 {
    position: absolute;
    left: 180px;
    top: 200px;
    color: #fff;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  p {
    position: absolute;
    left: 180px;
    top: 265px;
    color: #fff;
    width: 1111px;
    height: 120px;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
}
